@page "/"
@page "/Index"
@using Radzen
@using ITPS.Data.Code;

<!-- Begin Page Content -->
<div class="container-fluid" style="width:1500px !important; margin-left:-225px">
    @if (!string.IsNullOrEmpty(PageModel?.PageMessage))
    {
        <div class="alert alert-success" role="alert">
            @PageModel.PageMessage
        </div>
    }
    @if (PageModel?.ErrorObject != null)
    {
        <div class="alert alert-danger" role="alert">
            @PageModel.ErrorObject.Message
        </div>
    }
    @if (!string.IsNullOrEmpty(PageMessage))
    {
        <div class="alert alert-warning" role="alert">
            @((MarkupString)PageMessage)
        </div>
    }
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        @if (!string.IsNullOrEmpty(AppState.CurrentUser?.ErrorMessage))
        {
            <h1 class="h3 mb-0 text-gray-800">
                <span style="color:red">@GetUserName()</span>
            </h1>
        }
        else
        {
            <h1 class="h3 mb-0 text-gray-800">
                @GetUserName()
            </h1>
        }
        <a href="/report" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>

    <!-- Content Row -->
    @if (AppState.CurrentUser?.DepartmentCode == ITPS.Data.Code.Constants.DepartmentCode_IT)
    {
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Open Tickets Assigned To Me
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.OpenTicketsCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Unassigned Ticket Count
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.DepartmentTicketsCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Historical Tickets (Closed vs Open)
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@PageModel.ClosedVsOpen.ToString("00")%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                             style="width: @PageModel.ClosedVsOpen%" aria-valuenow="@PageModel.ClosedVsOpen" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    My Past Due Tickets
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.NeedingMyAttentionCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (AppState.CurrentUser != null)
    {
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    My Open Tickets
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.OpenTicketsCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    My Department's Open Tickets
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.DepartmentTicketsCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    My Tickets (Closed vs Open)
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@PageModel.ClosedVsOpen.ToString("00")%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                             style="width: @PageModel.ClosedVsOpen%" aria-valuenow="@PageModel.ClosedVsOpen" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Tickets Needing My Attention
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.NeedingMyAttentionCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-6">
            My Top 10 Grid
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-6">
            Coming Due Grid
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-6 mb-6">

            <!-- Illustrations -->
            <div class="card shadow mb-6">
                <div class="card-body">
                    <p>
                        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" 
                                        AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                        Data="@PageModel.Top10Tickets" TItem="TicketEntity" LogicalFilterOperator="LogicalFilterOperator.Or" >
                            <Columns>
                                <RadzenDataGridColumn TItem="TicketEntity" Title="ID" TextAlign="TextAlign.Center">
                                    <Template Context="TheData">
                                        <a href="/ticket/@TheData.TicketKey">@TheData.TicketKey</a>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="TicketEntity" Property="ShortDescription" Title="Description" />
                                <RadzenDataGridColumn TItem="TicketEntity" Property="AssignedToDisplayName" Title="Assigned To" />
                                <RadzenDataGridColumn TItem="TicketEntity" Property="DueDate" Title="Due Date" FormatString="{0:d}" />
                                <RadzenDataGridColumn TItem="TicketEntity" Property="Status" Title="Status" />
                            </Columns>
                        </RadzenDataGrid>
                    </p>

                </div>
            </div>


        </div>
        <div class="col-lg-6 mb-6">

            <!-- Illustrations -->
            <div class="card shadow mb-6">

                <div class="card-body">

                    <p>
                        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                        Data="@PageModel.PastComingDueTickets" TItem="TicketEntity" LogicalFilterOperator="LogicalFilterOperator.Or">
                            <Columns>
                                <RadzenDataGridColumn TItem="TicketEntity" Title="ID" TextAlign="TextAlign.Center">
                                    <Template Context="TheData">
                                        <a href="/ticket/@TheData.TicketKey">@TheData.TicketKey</a>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="TicketEntity" Property="ShortDescription" Title="Description" />
                                <RadzenDataGridColumn TItem="TicketEntity" Property="AssignedToDisplayName" Title="Assigned To" />
                                <RadzenDataGridColumn TItem="TicketEntity" Property="DueDate" Title="Due Date" FormatString="{0:d}" />
                                <RadzenDataGridColumn TItem="TicketEntity" Property="Status" Title="Status" />
                            </Columns>
                        </RadzenDataGrid>

                    </p>

                </div>
            </div>


        </div>
    </div>

</div>
<!-- /.container-fluid -->
@code
{
    [CascadingParameter]
    public CascadingAppState AppState { get; set; }

    private FrontPageDataEntity PageModel = new();
    private string PageMessage = string.Empty;
    protected override void OnInitialized()
    {
        ReloadModel();
        StateHasChanged();
    }
    private void ReloadModel()
    {
        PageModel = ITPS.Data.Code.FrontPageFactory.GetFrontPageData(AppState.CurrentUser.UserProfileKey);
    }
    private string GetUserName()
    {
        if (AppState.CurrentUser == null)
        { return "Loading User..."; }
        else if (!string.IsNullOrEmpty(AppState.CurrentUser.ErrorMessage))
        { return AppState.CurrentUser.ErrorMessage; }
        else
        { return "Welcome Back, " + AppState.CurrentUser.FirstName + "  " + AppState.CurrentUser.LastName; }
    }
    private void GetQuote()
    {
        Random theRandom = new Random();
        int randomNumber = theRandom.Next(1, 2);
        if(randomNumber == 1)
        { PageMessage = QuoteFactory.GetRandomQuote(); }
        else if (randomNumber==2)
        { PageMessage = QuoteFactory.GetRandomJoke(); }
    }
}