@page "/"
@page "/Index"
@using ITPS.Data.Code;

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        @if(!string.IsNullOrEmpty(CurrentUser?.ErrorMessage))
        {
            <h1 class="h3 mb-0 text-gray-800">
                <span style="color:red">@GetUserName()</span>
            </h1>
        }
        else
        {
            <h1 class="h3 mb-0 text-gray-800">
                @GetUserName()
            </h1>
        }
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>

    <!-- Content Row -->
    @if(CurrentUser?.DepartmentCode==ITPS.Data.Code.Constants.DepartmentCode_IT)
    {
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Open Tickets Assigned To Me
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.OpenTicketsCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Unassigned Ticket Count
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.DepartmentTicketsCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Historical Tickets (Closed vs Open)
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@PageModel.ClosedVsOpen.ToString("00")%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                             style="width: @PageModel.ClosedVsOpen%" aria-valuenow="@PageModel.ClosedVsOpen" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    My Past Due Tickets
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.NeedingMyAttentionCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (CurrentUser!=null)
    {
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    My Open Tickets
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.OpenTicketsCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    My Department's Open Tickets
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.DepartmentTicketsCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    My Tickets (Closed vs Open)
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@PageModel.ClosedVsOpen.ToString("00")%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                             style="width: @PageModel.ClosedVsOpen%" aria-valuenow="@PageModel.ClosedVsOpen" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Tickets Needing My Attention
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@PageModel.NeedingMyAttentionCount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-6">
            My Top 10 Grid
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-6">
            Coming Due Grid
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->


        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                             src="img/undraw_posting_photo.svg" alt="...">
                    </div>
                    <p>
                        Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                        constantly updated collection of beautiful svg images that you can use
                        completely free and without attribution!
                    </p>
                    <a target="_blank" rel="nofollow" href="https://undraw.co/">
                        Browse Illustrations on
                        unDraw &rarr;
                    </a>
                </div>
            </div>


        </div>
    </div>

</div>
<!-- /.container-fluid -->
@code
{
    private FrontPageDataEntity PageModel = new();
    private UserEntity CurrentUser = new();

    protected override void OnInitialized()
    {
        CurrentUser = UserFactory.GetUserInformation("joshs", "joshs");
        PopulateDummyData();
        StateHasChanged();
    }
    private void PopulateDummyData()
    {
        Random newRandom = new();
        PageModel.OpenTicketsCount = newRandom.Next();
        PageModel.DepartmentTicketsCount = newRandom.Next();
        PageModel.ClosedVsOpen = newRandom.Next();
        PageModel.NeedingMyAttentionCount = newRandom.Next();

    }
    private string GetUserName()
    {
        if(CurrentUser==null)
        { return "Loading User..."; }
        else if (!string.IsNullOrEmpty(CurrentUser.ErrorMessage))
        { return CurrentUser.ErrorMessage; }
        else
        { return "Welcome Back, " + CurrentUser.FirstName + "  " + CurrentUser.LastName; }
    }
}